.mission{
font-weight: 400;
font-size: 9px;
line-height: 14px;

text-align: center;
text-transform: uppercase;

color: var(--ouwer-text-color);
margin-top: 100px;
margin-bottom: 16px;


}

.mission__info{
            font-weight: 400;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
    
        color: var(--title-color);
        margin-left: 252px;
        margin-right: 251px;
        margin-bottom: 146px;
}