:root {
    --main-text-color: #212121;
    --secondary-text-color: #ffffff;
    --ouwer-text-color: #3C3C3C;
    --accent-color: #425E44;
    --butons-port-color: #FFFFFF;
    --background-color: #ffffff;
    --main-font: Roboto, sans-serif;
    --title-color: #1F1E1E;
    --second-background-color: #F4EDE6;
    --button-color: #1F1E1E;
    --third-background-color: #C6BC8A;

}